div{
    display: flex;
 
    background-color: aqua;

}
#ss{
    margin-left: 60px;
    background-image: linear-gradient(to right,rgba(212, 234, 13, 0.911), rgb(225, 19, 98) , yellow); 
}
.circle{
    margin-left :350px;
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 50%;
    background-color: darksalmon;
}
.card{
    width: 250px;
    background-color: lightskyblue;
}
.less{
    height:30px;
   
}
